*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #f2f2f2;
}
.header{
    
    height: 100px;
    width: 100%;
    margin-top: 80px;
    background-color: #ffffff;
}
.nav img{
    height: 54px;
    width: 58px;
    padding-inline-start: 160px;
    margin-top: 20px;
}
.container{
    background-color: #f2f2f2;
    height: 576px;
    width: 529px;
    margin-left: 189px;
}

.content h5{
    font-size: 20px;
    word-spacing: 5px;
    margin-top: 168px;
    padding-inline: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'PT Sans', sans-serif !important;
}
.content h2{
    color: #332f29;
    font-size: 70px;
    margin-top: 20px;
    text-transform: uppercase;
    padding-inline: 30px;
    font-weight: 400px;
    font-family: 'Roboto Condensed', sans-serif !important;

}
.content p{
    margin-top: 25px;
    font-size: 23px;
    margin-left: 32px;
}
.content button{
    padding: 10px 50px;
    margin-top: 44px;
    margin-left: 32px;
    padding-inline: 60px;
    font-size: 15px;
    background-color: #332f29;
    color: azure;
    box-sizing: border-box;
}
.content button:hover{
    background-color: rgb(180, 80, 80);
}


.container2{
   
    height: 700px;
    width: 530px;
    margin-left: 557px;
    margin-top: -480px;
    
}
.container2 img{
    height: 660px;
    width: 700px;
    position: absolute;
    
  
}